/* 基本設定 */
body {
    font-family: Arial, sans-serif;
    margin: 15px;
    padding: 0;
    background: #f0f0f0;
    color: #333;
    max-width: 300px;
    text-align: center;
}
  
  /* 標題樣式 */
h1 {
    color: #007bff;
    font-size: 22px;
    margin-bottom: 10px;
}
  
h2 {
    font-size: 18px;
    margin: 15px 0 10px;
    color: #555;
}
  
  /* 輸入框和按鈕樣式 */
input[type="text"] {
    width: 70%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
  
button {
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.2s;
}
  
button:hover {
    background-color: #0056b3;
}
  
  /* 清單樣式 */
ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    max-height: 150px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
  /* 列表項目樣式 */
li {
    padding: 8px;
    border-bottom: 1px solid #eee;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;

    display: flex;
    justify-content: space-between;
}
  
  /* 清單最後一項無底線 */
li:last-child {
    border-bottom: none;
}
.number {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  width: 20px;
  top: 50%;
}
.link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;  
    font-weight: bold;
    font-size: 14px;
    color: #333;
    width: 300px;
    top: 50%;
}
.clock-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(
      rgb(108, 8, 95) var(--progress, 100%), 
      #121212 var(--progress, 100%) 100%
  );
  box-shadow: 0 0 15px rgba(108, 8, 95, 0.8);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', monospace;
  font-size: 24px;
  border: 2px solid rgb(108, 8, 95);
  margin: 20px auto;
  transition: all 0.2s ease;
}

/* hover 時微微放大 */
.clock-container:hover {
  transform: scale(1.1);
  box-shadow: 0 0 50px rgba(108, 8, 95, 1);
}
  /* 超連結樣式 */
a {
    color: #007bff;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  